:root {
	--notch-inset-top: 0px;
	--notch-inset-right: 0px;
	--notch-inset-bottom: 0px;
	--notch-inset-left: 0px;
}

body, html {
	height: 100%;
	overflow: hidden;
	@extend %default-text-style;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.viewstack {
	@extend %fitContainer;
}

#application {
	@extend %fitContainer;
	overflow: hidden;
}

.iphone #application,
.ipad #application {
}

html.iphone body,
html.ipad body {
}

html.android body {
	#application {
		// padding-top: var(--notch-inset-top);
	}
}

i[class^="icon-"],
i[class*=" icon-"] {
	@extend %icon-style;
}

// .overflow-scroll::-webkit-scrollbar {
// 	-webkit-appearance: none;
// 	appearance: none;
// 	width: 0px !important;
// 	background: transparent !important;
// 	display: none;
// }
// .overflow-scroll::-webkit-scrollbar-track {
// 	-webkit-appearance: none;
// 	appearance: none;
// 	background: transparent !important;
// 	display: none;
// }
// .overflow-scroll::-webkit-scrollbar-thumb {
// 	-webkit-appearance: none;
// 	appearance: none;
// 	background: transparent !important;
// 	display: none;
// }
