
body, html {
	overflow: hidden;
	height: 100%;
	@extend %default-text-style;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

#application {
	@extend %fitContainer;
	overflow: hidden;
}

.viewstack {
	@extend %fitContainer;
}

i[class^="icon-"],
i[class*=" icon-"] {
	@extend %icon-style;
}
