.DS_Store
node_modules
bower_components
.l10ns
.components.js
.components.bundle.js
.components.bundle.js.map
.everc
style.css
!resources/app-template/build/assets/fonts/icons/style.css
style.css.map
bundle.js
bundle.js.map
commons.bundle.js
commons.bundle.js.map
npm-debug.log
config-test.json
config.json
config-*.json
localizations/output
